```astro
---
const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>{title ?? 'STEAM-Labz Codex'}</title>
  </head>
  <body>
    <main>
      <slot />
    </main>
  </body>
</html>
